/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&family=Open+Sans:wght@400;700&display=swap');

/* Declare colours to be used in root */
:root {
  --primary-colour: #5d5da8;
  --secondary-colour: #473e2a;
  --accent-colour: #e1ac4d;
  --background-colour: #e7dcbe;
  --text-colour: #452e0d;
  --pale-accent: #8989b5;
}

.App {
  display: flex;
  width: 100vh;
  flex-direction: column;
  color: var(--text-colour);
  min-height: 100vh;
  margin-top:8rem;
  padding-top:3.5rem;
}

.mainNav{
  flex: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:var(--background-colour);
  color: var(--text-colour);
  min-height:100%;
  overflow-y: scroll;
  width: 100%;
}

/* NavBar and footer styles */
nav {
  width: 100%;
  justify-content: center;
  align-content: justify;
  position: fixed;
}
.navDiv nav{
  padding-left:2rem;
}

.footer nav{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-colour);
  border-radius: 8px;
}
.inner-footer{
  width: 30%;
  height:fit-content;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer{
  width: 100%;
}

.contact{
  width: 70%;
  height:100%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: small;
}
.navDiv .nav-item {
  padding-left:1.5em;
  padding-right: 1.5em;
  align-content: center;
  position: relative;
}

.nav-link.active {
  font-weight: bold;
  color: var(--text-colour);
}

.nav-item button{
  background-color: var(--secondary-colour);
  color:var(--background-colour);
}
.nav-item button:hover{
  background-color:var(--accent-colour);
  color:var(--background-colour);
}

.footer span{
  padding-top:0px;
  color: var(--accent-colour);
}

img {
  width: 120px;
  height: auto;
  margin: auto;
}


/* Homepage styles */
.homepage{
  justify-content: center;
  text-align: center;
}

.homepage h1 {
  font-size: 2.5rem;
  color: var(--secondary-colour);
  font-family: 'Lobster', cursive;
  margin-bottom:2rem;
}

.homepage p {
  font-size: 1.2rem;
}

#topFilm {
  display: flex;
  width: 65%;
  padding: 15px;
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  background-color: var(--primary-colour);  
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
#curate-message{
  color: #fff;
}
#welcomeHeader{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
#full-list-nav-message{
  font-size: medium;
  font-style: italic;
}

/*My Films styles*/
.film-list-container{ 
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.films-title-card {
  background-color: var(--secondary-colour);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position:relative;
  margin-top:8rem;
}

.films-title {
  font-size: 2.5rem;
  color: var(--background-colour);
  font-family: 'Lobster', cursive;
}

.film-list {
  list-style: none;
  padding: 0;
}
.film-scrollable{
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: scroll;
  overflow-x: visible;
  margin-bottom:1rem;
  scrollbar-color: var(--accent-colour) var(--background-colour) ;
}

.film-item {
  width:98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: var(--primary-colour);  
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.film-item:hover {
  transform: scale(1.02);
}

.film-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.film-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-colour);
}

.film-year, .film-genre, .film-stars, .film-count {
  font-size: 1rem;
  color: #fff;
}
.film-actions button {
  color: #FFF;
}
.film-actions button:hover {
  color:var(--accent-colour);
  transform: scale(1.05);
}

/* Rating stars styles */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #fdedc7;
  cursor: pointer;
  transition: color 0.2s ease;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ffb400;
}

.star-rating input[type="radio"]:not(:checked) ~ label:hover,
.star-rating input[type="radio"]:not(:checked) ~ label:hover ~ label {
  color: #ffd166;
}

/* Add film styles */
.add-container {
  background-color:var(--pale-accent);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* Edit film styles */

.edit-container {
  background-color:var(--primary-colour);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.form-btn {
  padding: 8px 12px;
  margin-bottom:8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-container, .add-container h4{
  padding-left: 15px;
  padding-top: 2px;
}

.film-form {
  display: flex;
  height: max-content;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  gap: 6px;
  margin-bottom:1rem;
}

.film-form .form-row {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.film-form .form-row > div {
  flex: 1;
}

.film-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.film-form input,
.film-form select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.film-form button {
  margin: 10px, auto;
  background-color:var(--secondary-colour);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: fit-content;
  align-self: center;
}

.film-form button:hover {
  background-color: var(--accent-colour);
  color:var(--background-colour);
  transform: scale(1.05);
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.no-films {
  text-align: center;
  color: #888;
  margin-top: 20px;
}

/* Users page styling */
.users-container{ 
  border-radius: 10px;
  height: 60vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow-y: auto;
  scrollbar-color: var(--accent-colour) var(--background-colour) ;
}

.users-title-card {
  background-color: var(--secondary-colour);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position:relative;
}

.users-title {
  font-size: 2.5rem;
  color: var(--background-colour);
  font-family: 'Lobster', cursive;
}
.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--primary-colour);  
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 8px;
}
.user-rank{
  font-size: 2.5rem;
  color: var(--background-colour);
  font-family: 'Lobster', cursive;
}
.user-details {
  display: flex;
  flex-direction: row;
  gap: 2px;
  width:60%;
  margin:auto;
}
.user-details-name{
  width:fit-content;
  margin:auto;
  display:flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

